<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 text-light"><strong>Dashboard de <br><%= @user.first_name %> <%= @user.last_name %> </strong><br></h1>
  </div>
</div>

<div class="container">
	<div class="card-header">	
		<h3>Mon compte</h3>	
	  Mail: <%= @user.email %></br> 
	  Date de création du compte: <%= (@user.created_at).day %>/ <%= (@user.created_at).month %>/ <%= (@user.created_at).year%>
		<div class="nav btn-group">
	    <% if current_user %>
	      <a href="<%= edit_user_registration_path %>" class="btn btn-outline-dark btn-sm">Editer mon compte</a>
	    <% end %>
	 	</div>
	</div>
<br>
	<div class="card-header">
		<h3>Mon profil</h3>	
	  Ma description: </br> 
	  Les sujets que je suis: </br> 
	  les domaines que je suis: </br> 
		<div class="nav btn-group">
	    <% if current_user %>
	      <a href="<%= edit_user_registration_path %>" class="btn btn-outline-dark btn-sm">Editer mon profil</a>
	    <% end %>
	 	</div>
	</div>



	<div class="card-body">
		<h3>Mes créations</h3>
		<h5>Mes Life hacks</h5>
		<div class="card-deck">
		     <% @tips.sort_by(&:name).each do |tips|%>
		        <div class="col-md-4 col-lg-4 mb-4">
		          <article class="card shadow h-70">
		            <img class="card-img-top" height= "250px" src="<%= tips.topic.domain.photo %>" alt="">
		            <div class="card-body p-5">
		              <a class="d-inline-block text-muted font-weight-medium text-uppercase small mb-2" href=""><%= tips.topic.domain.name %> </a>
		              <h2 class="h5 font-weight-medium">
		                <a href="<%= tips_path(tips.id) %>"><%= tips.topic.name %>: <%= tips.name %></a>
		              </h2>
		              <p><%=tips.content%></p>
		            </div>
		            <div class="card-footer border-0 pt-0 pb-5 px-0 mx-5">
		              <div class="media align-items-center">
		                 <div class="media-body d-flex justify-content-start text-muted font-size-1 ml-2">
		                  Auteur:        <%= tips.user.first_name %> <%= tips.user.last_name %></br> 
		                  Créé le:       <%= (tips.created_at).day %>/ <%= (tips.created_at).month %>/ <%= (tips.created_at).year %></br>
		                  Mis à jour le: <%= (tips.updated_at).day %>/<%= (tips.updated_at).month %>/<%= (tips.updated_at).year %>
		                </div>
		              </div>
		            </div>
		          </article>
		        </div>
		    <%end%>
 		</div>
 	</div>
	

	<div class="card-body">
	<h5>Mes sujets</h5>
	<table class="table row">
		<tbody class="container">
			<% @topics.sort_by(&:name).each do |topic| %>
			<tr>
				<td><%= topic.name %></td>
				<td><a href="<%= topic_path(topic.id)%>" class="btn btn-outline-primary">Voir tous les life-Hacks à ce sujet</a>
				<td><a href="<%= edit_topic_path(topic.id)%>" class="btn btn-outline-secondary">Editer le sujet</a>
				<td><a href="<%= topic_path(topic.id)%>" class="btn btn-outline-dark" data-confirm="Etes-vous sûr ?" data-method="DELETE">Supprimer ce sujet</a>
			</tr>
			<% end %>
		</tbody>
	</table>
	<footer>			
		<p><a href="<%= new_topic_path %>" class="btn btn-outline-dark">Créer un nouveau sujet</a></p>
	</footer>
	</div>

	<div class="card-body">
		<h5>Mes domaines</h5>
	<table class="table row">
		<tbody class="container">
			<% @domains.sort_by(&:name).each do |domain| %>
			<tr>
				<td><%= domain.name %></td>
				<td><a href="<%= domain_path(domain.id)%>" class="btn btn-outline-primary">Voir les sujets du domaine <%= domain.name %></a>
				<td><a href="<%= edit_domain_path(domain.id)%>" class="btn btn-outline-secondary">Editer le domaine</a>
				<td><a href="<%= domain_path(domain.id)%>" class="btn btn-outline-dark" data-confirm="Etes-vous sûr ?" data-method="DELETE">Supprimer ce domaine</a>
			</tr>
			<% end %>
		</tbody>
	</table>
	<footer>			
		<p><a href="<%= new_domain_path %>" class="btn btn-outline-dark">Créer un nouveau domaine</a></p>
	</footer>
	</div>

</div>