<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 text-light"><strong>Les sujets </strong><br></h1>
  </div>
</div>


	<table class="table row">
		<tbody class="container">
			<% @topics.each do |topic| %>
			<tr>
				<td><%= topic.name %></td>
				<td><a href="<%= topic_path(topic.id)%>" class="btn btn-outline-primary">Voir tous les life-Hacks à ce sujet</a>
				<td><a href="<%= edit_topic_path(topic.id)%>" class="btn btn-outline-secondary">Editer le sujet</a>
				<td><a href="<%= topic_path(topic.id)%>" class="btn btn-outline-dark" data-confirm="Etes-vous sûr ?" data-method="DELETE">Supprimer ce sujet</a>
			</tr>
			<% end %>
		</tbody>
	</table>

	<footer>			
		<p><a href="<%= new_topic_path %>" class="btn btn-outline-dark">Créer un nouveau sujet</a></p>
	</footer>


	
