</br></br>
<div class="card">

  <div class="card-header">
    <div class="font-weight-bold text-center">
    	<h1>Life-hack : <%=@tip.name%></h1>
    </div>
  </div>

  <div class="nav">
  	<a href="<%= tips_path %>" class="btn btn-secondary">Revenir à la page d'accueil</a>
  	<a href="<%= tips_path %>" class="btn btn-primary">Voir tous les life-hacks sur le même sujet</a>

    <% if current_user %>
    <a href="<%= edit_tip_path %>" class="btn btn-primary">Editer</a>

	<% else %>
    <% end %>


  </div>

  <div class="card-body">
  	<strong>Domaine : </strong><%= @domain.name %><br/>
    <strong>Sujet : </strong><%= @topic.name %><br/>
    <strong>Description : </strong><%= @tip.content %><br/>
    <strong>Auteur : </strong><%=  %> <%=  %><br/>
    <strong>Photo: </strong> <img src="<%= @tip.photo %>"><br/>
  </div>

</div>