<div class="card">
    <div class="card-header">
      <div class="font-weight-bold text-center">
      	<h1>Life-hack : <%=@tip.name%></h1>
      </div>
    </div>
  </div>

  <div class="card-body">
  	<strong>Domaine : </strong><%= @tip.topic.domain.name %><br/>
    <strong>Sujet : </strong><a href="<%= topic_path %>"><%= @tip.topic.name %></a><br/>
    <strong>Description : </strong><%= @tip.content %><br/>
    <strong>Auteur : </strong><%= @tip.user.first_name %> <%= @tip.user.last_name %><br/>
    <strong>Photo du life-hack: </strong> <img src="<%= @tip.photo %>"><br/>
    <strong>Commentaires: </strong> <br/>
  </div>

  <div class="nav btn-group">
  <% if current_user %>
    <a href="<%= new_tip_path %>" class="btn btn-outline-dark">Créer</a>
    <a href="<%= edit_tip_path %>" class="btn btn-outline-dark">Editer</a>
    <a href="<%= tip_path %>" class="btn btn-outline-dark" data-confirm="Etes-vous sûr ?" data-method="DELETE">Supprimer</a>
  <% end %>
</div>

</div>