<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="<%= domain_path(@tip.topic.domain.id) %>"><%= @tip.topic.domain.name %></a></li>
    <li class="breadcrumb-item"><a href="<%= topic_path(@tip.topic.id) %>"><%= @tip.topic.name %></a></li>
    <li class="breadcrumb-item active" aria-current="page"><%=@tip.name%></li>

  </ol>
</nav>

<div class="card">
    <div class="card-header">
      <div class="font-weight-bold text-center">
      	<h1>Life-hack : <%=@tip.name%></h1>
      </div>
    </div>
  </div>

  <div class="card-body">
    <strong>Description : </strong><%= @tip.content %><br/>
    <strong>Auteur : </strong><%= @tip.user.first_name %> <%= @tip.user.last_name %><br/>
    <strong>Photo du life-hack: </strong> <img src="<%= @tip.photo %>"><br/>
    <strong>Commentaires: </strong> <br/>
  </div>

</div>