</br></br>
<div class="card">

  <div class="card-header">
    <div class="font-weight-bold text-center"><h1>LIfe-hack : <%= @domain.name %>/ <%= @topic.name %>: <%=@tip.name%></h1></div>
  </div>

  <div class="card-body">
  	<strong>Domaine : </strong><%= @domain.name %><br/>
    <strong>Sujet : </strong><%= @topic.name %><br/>
    <strong>Description : </strong><%= @tip.content %><br/>
    <strong>Auteur : </strong><%=  %> <%=  %><br/>
    <strong>Photo: </strong> <img src="<%= @tip.photo %>"><br/>
  </div>

</div>